<footer class="d-flex flex-column justify-content-center">
  <span class="m-auto">Служба поддержки, подбор каталожных номеров БЕСПЛАТНО!</span>
  <div class="contacts d-flex m-auto">
    <a class="phone" href="tel:+79211839966">+7 (921) 183 99 66</a>
    <a class="mail" href="mailto:info@izisale.ru">info@izisale.ru</a>
  </div>
</footer>
