@import "~src/styles/variables";

footer {
  justify-content: center;
  height: 150px;
  margin: auto;
  font-family: $g_font_family_montserrat_regular;

  .contacts {
    width: 400px;
    justify-content: space-around;
  }
}
