@import "~src/styles/variables";

.results-wrapper {
  width: 1040px;
  margin: 15px auto 0 auto;
  .result-table {
    width: 100%;
    font-family: $g_font_family_montserrat_regular;
    background-color: $g_background_color_white;
    thead {
      background-color: $g_background_color_gray;
    }
  }
}
