<div class="results-wrapper">
  <table class="table table-striped result-table" *ngIf="results">
    <thead>
    <tr>
      <td>Артикул</td>
      <td>Название</td>
      <td>Цена</td>
      <td>Производитель</td>
      <td>Количество</td>
      <td>Продавец</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results; i as index">
      <td>{{result.vendorCode}}</td>
      <td>{{result.name}}</td>
      <td>{{result.price}}</td>
      <td>{{result.producer}}</td>
      <td>{{result.count}}</td>
      <td>ООО «Цеппелин Русланд»</td>
    </tr>
    </tbody>
  </table>
</div>
