<div class="search-wrapper">
  <app-search-form (results)='checkResults($event)' (loading)='isSearchStarted($event)'></app-search-form>
  <app-search-results [results]="resultList" *ngIf="!isNoMatches && !nothingToShow"></app-search-results>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white">Идет поиск, пожалуйста подождите... </p>
  </ngx-spinner>
  <div class="no-matches d-flex justify-content-center align-items-center" *ngIf="isNoMatches && !nothingToShow">
    <span class="no-results">По вашему запросу ничего не найдено.</span>
  </div>
</div>

