@import "~src/styles/variables";

.search-wrapper {
  .no-matches {
    width: 781px;
    height: 50px;
    margin: auto;
    font-family: $g_font_family_montserrat_regular;
    background-color: $g_background_color_white;
  }
}
