@import "~src/styles/variables";

header {
  height: 150px;

  h1 {
    text-align: start;
    font-family: $g_font_family_montserrat_bold;
    margin: auto auto auto 200px;
  }
  .phone {
    margin: auto 200px auto auto;
    font-size: 30px;
    font-family: $g_font_family_montserrat_regular;
  }
}

