@import './fonts.scss';

$g_font_family_montserrat_bold: "MontserratBold", serif;
$g_font_family_montserrat_regular: "MontserratRegular", serif;

$g_background_color_black: #000000;
$g_background_color_white: #ffffff;
$g_background_color_gray: #d4d3d1;

$g_font_color_white: #ffffff;
