<div class="search-results">
  <form class="search-form d-flex justify-content-center" [formGroup]="searchForm" (ngSubmit)="startSearch()">
    <div class="transparent-bg d-flex justify-content-center align-items-center">
      <label class="search-label">
        <input class="search-input" type="text" placeholder="Введите артикул" formControlName="searchWord">
      </label>
      <button class="search-btn" [disabled]="isDisabled" type="submit">ПОИСК</button>
    </div>
  </form>
</div>

