@import "~src/styles/variables";

.search-results {
  width: 781px;
  margin: 0 auto;
  padding-top: 61px;
  .search-form {
    width: 100%;
    .transparent-bg {
      position: relative;
      z-index: 1;
      height: 91px;
      width: 100%;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $g_background_color_white center center;
        opacity: .5;
      }
      .search-label {
        position: relative;
        z-index: 5;
        width: 80%;
        margin: 0;
        &:before {
          position: absolute;
          left: 20px;
          top: 13px;
          height: 25px;
          width: 25px;
          content: "";
          background: url("src/assets/svg/search.svg")
        }
        .search-input {
          width: 100%;
          height: 51px;
          padding-left: 65px;
          &::placeholder {
            font-family: $g_font_family_montserrat_regular;
            font-size: 16px;
          }
        }
      }

      .search-btn {
        position: relative;
        z-index: 6;
        width: 14.85%;
        height: 51px;
        font-family: $g_font_family_montserrat_bold;
        font-size: 20px;
        background-color: $g_background_color_black;
        color: $g_font_color_white;
      }
    }
  }
}
