@import "~src/styles/variables";


.main-wrapper {
  //header {
  //  h1 {
  //    text-align: start;
  //    font-family: $g_font_family_montserrat_bold;
  //  }
  //}

  main {
    //width: 1440px;
    height: 940px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/main-image.jpg");
  }
}


