<div class="main-wrapper">
  <header class="d-flex justify-content-center">
    <h1>iziSALE</h1>
  </header>
  <main>
    <app-main-page></app-main-page>
  </main>
  <footer>
    <h3>some text</h3>
  </footer>
</div>


